body {
  background-color: #45ade986;
}

.countercont{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
  left: 25%;
  font-size: 10em;
}


.btncont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 90%;
}

.btncont button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

